* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

/* main container */

.main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 30px;
    width: 700px;
    height: 500px;
    box-shadow: 10px 20px 30px hsl(241, 100%, 89%,0.2);
    font-family: 'Hanken Grotesk', sans-serif;
    display: flex;
}

/* left inner container */

.left-inner-container {
    width: 50%;
    height: inherit;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.left-inner-container-heading {
    color: hsl(241, 100%, 89%);
    font-size: 1.4rem;
}

.left-inner-container-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: linear-gradient(hsla(256, 72%, 46%, .9), hsla(241, 72%, 46%, .0));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-inner-container-result {
    color: white;
    font-size: 5rem;
}

.left-inner-container-total-result {
    color: hsla(241, 100%, 89%, .6);
    font-weight: 700;
}

.left-inner-container-result-meaning {
    color: white;
    font-size: 2rem;
}

.left-inner-container-result-description {
    width: 65%;
    text-align: center;
    color: hsla(241, 100%, 89%, .9);
    line-height: 1.5;
    transform: translateY(-25%);
}

/* right inner container */

.right-inner-container {
    padding: 40px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.right-inner-container-heading {
    color: hsl(224, 30%, 27%);
}

.right-inner-container-table {
    height: 260px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.table-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.box-1 {
    background-color: hsla(0, 100%, 67%, .1);;
}

.box-2 {
    background-color: hsla(39, 100%, 56%, .1);
}
.box-3 {
    background-color: hsla(241, 100%, 89%, .1);
}

.box-4 {
    background-color: hsla(241, 100%, 89%, .3);
}

.left-side-table {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.left-side-table-text {
    font-weight: 700;
    margin-left: 10px;
}

.light-red {
    color: hsla(0, 100%, 67%, .8);
}

.orange-yellow {
    color: hsla(39, 100%, 56%, .8);
}

.green-teal {
    color: hsl(166, 100%, 37%);
}

.cobalt-blue {
    color: hsl(234, 85%, 45%);
}

.right-number {
    font-weight: 700;
}

.color-dark {
    color: hsl(224, 30%, 27%);
}

.color-light {
    color: hsla(224, 30%, 27%, .5);
}

button {
    padding: 15px;
    border: none;
    border-radius: 30px;
    color: white;
    background-color: hsl(224, 30%, 27%);
    font-size: 1.1rem;
}

button:hover {
    cursor: pointer;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}


/* Mobile Screen only */

@media only screen and (max-width: 700px) {

    /* main container */

    .main-container {
        flex-direction: column;
        top: 0%;
        left:0%;
        transform: none;
        width: 100%;
        height:auto;
    }

    /* left inner container */

    .left-inner-container {
        width: 100%;
        border-radius: 0 0 30px 30px;
        height: 350px;
    }

    .left-inner-container-heading {
        font-size: 1rem;
    }

    .left-inner-container-circle {
        width: 140px;
        height: 140px;
    }

    .left-inner-container-result {
        font-size: 4rem;
    }

    .left-inner-container-total-result {
        font-weight: 500;
    }

    .left-inner-container-result-meaning {
        font-size: 1.5rem;
    }

    .left-inner-container-result-description {
        width: 65%;
        font-size: 0.9rem;
        transform: translateY(-30%);
    }

    /* right inner container */

    .right-inner-container {
        padding: 30px;
        width: 100%;
        height: 470px;
    }

    .right-inner-container-heading {
        font-size: 1rem;
        transform: translateY(-90%);
    }

    .right-inner-container-table {
        transform: translateY(-6%);
    }

    button {
        transform: translateY(-60%);
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 1px;
    }
}